body {
    background-color: black;
    padding: 41px;
}

.container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
    display: flex;
    justify-content: space-around;
    background-color: blue;
    padding-bottom: 10px;
    border: 10px solid white;
    border-radius: 50px;
}

.score {
    font-family: 'Press Start 2P';
    color: red;
    background-color: black;
    height: 50px;
    text-align: center;
    padding-top: 16px;
    border: 5px solid black;
    border-radius: 10px;
}

.score-info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:aliceblue;
}

button {
    background-color: gray;
}